:global(body) {
  position: relative;
  background-color: #9E9E9E;
}

.positive-green {
    color: #AED581;
}

.negative-red {
    color: #EF5350;
}

.flash-update-grey {
    background-color: #757575 !important;
}

@keyframes background {
  0% { background-color: inherit; }
  50% { background-color: #757575 !important; }
  100% { background-color: inherit; }
}
